@charset "UTF-8";

body{font:12px "Microsoft YaHei";color:#5f615e;}
body,dl,dd,p,h1,h2,h3,h4,h5,h6{margin:0;}
ol,ul{margin:0;padding:0;list-style:none;}
li{list-style:none;}
img{border:none;}
a{color:#5f615e;text-decoration:none;}